input[type="text"]
{
	width : 240px;
	text-align : center;
	background : transparent;
	border: none;
	border-bottom : 1px solid #fff;
	font-family : sans-serif;
	font-size : 16px;
	font-weight : 200px;
	padding : 10px 0;
	transition : border 0.5s;
	outline : none;
	color:#fff;  
}
input[type="password"]
{
	width : 240px;
	text-align : center;
	background : transparent;
	border: none;
	border-bottom : 1px solid #fff;
	font-family : sans-serif;
	font-size : 16px;
	font-weight : 200px;
	padding : 10px 0;
	transition : border 0.5s;
	outline : none;
	color:#fff;  
	
}
input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	width: 200px;
	 color : #f213;
	font-size: 15px;
	cursor: pointer;
	background: #ff2e;
	border-radius: 20px;
	color: #f213
}
.adminlogin
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 400px;
	padding: 40px;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box;
}
form
{
	width:240px;
	text-align:center;
}
p{
	font-family : sans-serif;
	font-size : 16px;
	font-weight : 200px;
	color:#fff;
}
body {
	margin: 0;
	padding: 0;
	background: url(plate.jpg);
	background-size: cover;
}